@import './index.css';
@value color-one, color-two, color-three from './colors.css';

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a{
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

*, a{
  font-family: "Roboto", serif;
  font-weight: 400;
  font-style: normal;
}

button, h1, h2, h3  {
  font-weight: 500;
}

a{
  border: none;
  padding: 1.2rem;
  color: color-one;
  background: color-two;
  border-radius: 8px;
  transition: 300ms;
}

a:hover{
  cursor: pointer;
}


:global(a.active){
  color: color-two;
  background:color-one;
}

body{
  background: color-three;
}

main{
  margin: 4.5rem auto;
  max-width: 56.25rem;
  width: 90%;
}
