@value color-one, color-two, color-three from './colors.css';

header{
  height: 20vh;
  background: color-two;
  display: grid;
  place-items: center;
  position: relative;
}

header h1{
  font-size: 3rem;
  color: color-one;
  margin: 0;
}

header div{
  position: absolute;
  bottom: -15%;
  display: flex;
  gap: 1rem;
}

.list-empty{
  display: grid;
  place-items: center;
  color: white;
  gap: 1rem;
}


.list-empty p{
  opacity: .60;
}


