<div local-class="task">

  <h3>Nome da Tarefa</h3>
  <p>kajwbd djkawh dkljawdh lkawdh akjwdhakwdaw dhawd hakjwdhawk djawdhkjaw </p>

  <div class="date-info">
    <p>Data limite: 20/02</p>
    <p>Criado em: 20/02</p>
  </div>

  <span>categoria</span>

  <Button @variant="light" local-class="delete">X</Button>
  <Button @variant="light" >Marcar como concluída</Button>
</div>