<div class="task">
  <span>categoria</span>

  <h3>Nome da Tarefa</h3>
  <p>kajwbd djkawh dkljawdh lkawdh akjwdhakwdaw dhawd hakjwdhawk djawdhkjaw </p>


  <div class="date-info">
    <p>Data limite: 20/02</p>
    <p>Criado em: 20/02</p>
  </div>


  <button class="delete">X</button>
  <button >Marcar como concluída</button>

</div>