@value color-one, color-two from '../../styles/colors.css';

.task {
  background:color-two;
  color: #F1F6F9;
  padding: 1rem;
  border-radius: 10px;
  width: 100%;
  max-width: calc(18.75rem - 2rem);
  display: flex;
  gap: 1rem;
  flex-direction: column;
  position: relative;
}

.task span{
  padding: .4rem;
  background:color-one;
  color:color-two;
  border-radius: 10px;
  width: fit-content;
}

.task button.delete{
  position: absolute;
  top: 2%;
  right: 2%;
  color: red;
  padding: .8rem;
}

