button{
  border: none;
  padding: 1.2rem;
  color: var(--color-one);
  background: var(--color-two);
  border-radius: 8px;
  transition: 300ms;
}

button:hover{
  cursor: pointer;
}


a.active , button  {
  color: var(--color-two);
  background: var(--color-one);
}
