<form local-class="create-task-form">
  <h1>Crie sua tarefa.</h1>
  <Input @labelName="Nome da Tarefa" type="text" placeholder="Estudar"/>
  <Input @isMultiline="true" @labelName="Descrição" type="text" placeholder="Estudar para a prova de história"/>

  <div local-class="footer">
    <Input @labelName="Categoria" type="text" placeholder="Teste"/>
    <Input @labelName="Categoria" type="text" placeholder="Teste"/>
    <Input @labelName="Categoria" type="text" placeholder="Teste"/>
  </div>

</form>