<form {{on "submit" this.submitForm }} local-class="create-task-form">
  <h1>Crie sua tarefa.</h1>
  <Input @labelName="Nome da Tarefa">
    <Input::Text type="text" name="task" placeholder="Estudar" />
  </Input>


  <Input @labelName="Descrição">
    <Input::Text @isMultiline="true" name="description" placeholder="Estudar para a prova de história" />
  </Input>

  <div local-class="footer">
    <Input @labelName="Categoria" >
      <Input::Select @options={{this.TASK_CATEGORIES}} name="category" id="category"/>
    </Input>

    <Input @labelName="Data de Criação" >
      <Input::Date @options={{this.TASK_CATEGORIES}} name="creationDate" id="creationDate"/>
    </Input>
    
    <Input @labelName="Data limite" >
      <Input::Date @options={{this.TASK_CATEGORIES}} name="limitDate" id="limitDate"/>
    </Input>
  </div>

  <Button type="submit">Criar Tarefa</Button>

</form>