<div>
  <header>
    <h1>todo</h1>
    <div>
      <LinkTo @route="index">
        Lista de Tarefas
      </LinkTo>

      <LinkTo @route="create">
        Adicionar Tarefa
      </LinkTo>
    </div>
  </header>

  <main>
    {{outlet}}
  </main>
</div>